src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:lettuce="http://www.mulesoft.org/schema/mule/lettuce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/lettuce http://www.mulesoft.org/schema/mule/lettuce/current/mule-lettuce.xsd">
    <apikit:config name="race-data-system-api-config" api="resource::ae6d7954-6fc2-4f3e-8777-80ff8aabd859:race-data-system-api:2.0.10:raml:zip:race-data-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="race-data-system-api-main">
        <http:listener config-ref="race-data-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="race-data-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Bad request",
	error: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="race-data-system-api-console">
        <http:listener config-ref="race-data-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="race-data-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\health:race-data-system-api-config">
        <flow-ref doc:name="livenessCheck" doc:id="f2ba7f6d-6ba8-4c16-bf41-c547bc6dbfad" name="livenessCheck" />
    </flow>
    <flow name="get:\health\ready:race-data-system-api-config">
        <flow-ref doc:name="readinessCheck" doc:id="270cab16-1def-4317-b953-c6bbe0e1212b" name="readinessCheck" />
    </flow>
    <flow name="get:\racers:race-data-system-api-config">
        <set-variable value="#[attributes.queryParams.clientId]" doc:name="clientId" doc:id="955005f5-7eba-4c8c-b6b0-3a3a9b2c58f7" variableName="clientId" />
        <set-variable value="#[attributes.queryParams.result default &quot;id&quot;]" doc:name="result" doc:id="96cc3f95-adb4-463e-927b-ba15115cf7aa" variableName="result" />
        <choice doc:name="Choice" doc:id="2f06e583-afc0-43ba-8231-c60330234677">
            <when expression="#[null != vars.clientId]">
                <flow-ref doc:name="searchRacersByClientId" doc:id="6fdd4bf0-0619-421b-ba95-8e87b659fe03" name="searchRacersByClientId" />
            </when>
            <otherwise>
                <flow-ref doc:name="searchAllRacers" doc:id="7c067df6-e33d-47ed-a874-dfaa4c111a58" name="searchAllRacers" />
            </otherwise>
        </choice>
        <choice doc:name="Choice" doc:id="faf40267-9876-41b9-af14-da509a8dc4f1">
            <when expression="#[&quot;profile&quot; == vars.result]">
                <flow-ref doc:name="getRacers" doc:id="f499596e-93b5-4055-892d-69dff62d95b9" name="getRacers" />
            </when>
            <otherwise>
                <logger level="DEBUG" doc:name="DEBUG" doc:id="8a619d2b-7d26-4ecd-a15f-7d2c642051b8" message="#[&quot;requested result is $(vars.result)&quot;]" />
            </otherwise>
        </choice>
    </flow>
    <flow name="post:\racers:application\json:race-data-system-api-config">
        <flow-ref doc:name="createRacer" doc:id="929c7284-2e74-4de4-b64a-1f9a187fd919" name="createRacer" />
    </flow>
    <flow name="get:\racers\(id):race-data-system-api-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="racerId" doc:id="8b1b3f05-5320-42ea-bdce-b3ddc9645449" variableName="racerId" />
        <flow-ref doc:name="getRacer" doc:id="d0f21d80-74bd-480d-9741-334c76a801f3" name="getRacer" />
        <logger level="INFO" doc:name="INFO" doc:id="e75e5d4a-40b5-404c-bd23-a2b77d6bf9e6" category="race-data-sapi.api" message="Retrieved racer #[vars.racerId]" />
    </flow>
    <flow name="put:\racers\(id):application\json:race-data-system-api-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="racerId" doc:id="a0313688-3c6b-4de0-b9b3-7c5f1e12d02d" variableName="racerId" />
        <flow-ref doc:name="updateRacer" doc:id="774ad10f-7a51-418a-86dd-c0008a3244a9" name="updateRacer" />
        <logger level="INFO" doc:name="INFO" doc:id="60a98167-4a4e-4166-808e-a6c3b997ea9c" message="Updated racer #[vars.racerId]" category="race-data-sapi.api" />
        <flow-ref doc:name="getRacer" doc:id="472a4871-ecda-4d3a-baa3-00a850caa493" name="getRacer" />
    </flow>
    <flow name="get:\leaderboard\(id):race-data-system-api-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="leaderboard" doc:id="0732fd1a-4e7d-4eec-92c3-41630eeb6093" variableName="leaderboard" />
        <set-variable value="#[attributes.queryParams.timespan default &quot;season&quot;]" doc:name="timespan" doc:id="134b2076-444f-4a8e-8e27-8daecc010314" variableName="timespan" />
        <choice doc:name="Choice" doc:id="3ec5dd47-27e9-4e6d-a90d-51151c039173">
            <when expression="#[attributes.queryParams.racerId?]">
                <set-variable value="#[attributes.queryParams.racerId]" doc:name="racerId" doc:id="1324fd61-42c3-4c6d-b01a-966ef71522f0" variableName="racerId" />
                <flow-ref doc:name="getRacerResults" doc:id="fe1a38e8-bbc5-4dec-abd1-b79aab2799d8" name="getRacerResults" />
            </when>
            <otherwise>
                <flow-ref doc:name="getLeaderboard" doc:id="a23976db-f2b6-4940-83f7-ee37b5e7a12f" name="getLeaderboard" />
            </otherwise>
        </choice>
    </flow>
    <flow name="put:\racers\(id)\entry:application\json:race-data-system-api-config">
		<set-variable value="#[attributes.uriParams.id]" doc:name="racerId" doc:id="8d3b8301-21f6-48ff-b43a-06cf27fb1a57" variableName="racerId" />
        <flow-ref doc:name="getEntry" doc:id="daed3736-b836-4e57-ba10-33ae4eb9d91a" name="getEntry" />
		<choice doc:name="Choice" doc:id="50a05ad8-3e4f-4b3d-80c6-5c17c8719871" >
			<when expression="#[payload.score is Null]">
				<flow-ref doc:name="updateEntry" doc:id="435a4a09-8290-49aa-a73d-05641cc2fa74" name="updateEntry" />
			</when>
			<otherwise >
				<flow-ref doc:name="post:\racers\(id)\entry:application\json:race-data-system-api-config" doc:id="fae6efd3-b6fb-462a-8373-3a1df839ee9d" name="post:\racers\(id)\entry:application\json:race-data-system-api-config" />
			</otherwise>
		</choice>
		<logger level="INFO" message="put:\racers\(id)\entry:application\json:race-data-system-api-config" />
    </flow>
    <flow name="get:\racers\(id)\entry:race-data-system-api-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="racerId" doc:id="814d8546-47e4-43c7-ab0d-814c31653de0" variableName="racerId" />
        <flow-ref doc:name="getEntry" doc:id="b89d2882-8c61-46c5-91ff-f85e4bced437" name="getEntry" />
        <logger level="INFO" message="get:\racers\(id)\entry:race-data-system-api-config" />
    </flow>
    <flow name="post:\racers\(id)\entry:application\json:race-data-system-api-config" doc:id="e64772a3-290e-48ec-b82a-39ae3f7a7158">
        <flow-ref doc:name="scoreIncreasebyOne" doc:id="2c75d78f-ef42-4617-9be6-b29b8f87c0f9" name="scoreIncreasebyOne"/>
        <logger level="INFO" message="post:\racers\(id)\entry:application\json:race-data-system-api-config" />
    </flow>
</mule>
