src/main/mule/entry.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:lettuce="http://www.mulesoft.org/schema/mule/lettuce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/lettuce http://www.mulesoft.org/schema/mule/lettuce/current/mule-lettuce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
	<sub-flow name="updateEntry" doc:id="b78f8610-4182-4514-8451-f6d010fadca4" >
		<ee:transform doc:name="Transform Message" doc:id="3ae4eae0-716c-42c2-b14d-e1e073353752">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::app::Transforms
output application/json

---
{ 
	active: if (payload.active) 1 else 0,
	"racer:baseUri": payload.racer.baseUri,
	"racer:name": payload.racer.name,
	"racer:id": vars.racerId,
	"status:nameCheck:score": payload.status.nameCheck.score,
	started: toRedisDate(payload.started),
	updated: toRedisDate(payload.updated default now())
} 
		]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="e1b0b7c1-7c07-49a8-a768-9036b8417b84" message='#[payload]' category="race-data-sapi.updateEntry"/>
		<lettuce:hset doc:name="Store entry info" doc:id="d8c88fb1-b1e8-40ea-962c-3049271c3a31" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(vars.racerId)"]'>
			<lettuce:fields ><![CDATA[#[payload]]]></lettuce:fields>
		</lettuce:hset>
		<set-payload value="#[vars.entryInformation]" doc:name="Set Payload" doc:id="408e5de4-b33e-4e4e-a245-d304cb79b861" />
		<logger level="INFO" doc:name="Logger" doc:id="b6ef83fd-728b-4d81-b2bf-a457e9fe29aa" message="#[output application/json --- payload]"/>
	</sub-flow>
	
	<flow name="getActiveKey" doc:id="4d36dd41-22b7-4416-8bfb-a92610957a2a">
    <lettuce:search-keys doc:name="Getting all the hset from challenge:aigent" doc:id="2e8ad04b-be20-44f9-8cbc-87ddf14ae11e" 
        config-ref="Lettuce_Redis_Config" match="challenge:aiagent:*"/>
    <set-variable variableName="keys" value="#[payload]" doc:name="keys"/>
    <parallel-foreach doc:name="Parallel For Each" doc:id="5dc4c31b-2bee-42b4-8ed7-dac99e365ace">
        <lettuce:hmget doc:name="HMGET" doc:id="572941ea-a91c-4b13-8eda-6afac71c097d" 
            config-ref="Lettuce_Redis_Config" key="#[payload]" fieldNames='#[["active"]]'/>
    </parallel-foreach>
    <ee:transform doc:name="Transform Message" doc:id="92fc6334-6ee1-4e32-970f-ee3a94743021">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/JSON
var activeKeys = (payload map (item, index) -> {
    key: vars.keys[index],
    active: item.payload.active
}) filter $.active == "1"
---
activeKeys map (item) -> {
    racerId: item.key replace "challenge:aiagent:" with ""
}
]]></ee:set-payload>
        </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="4dd4f707-88d4-4978-89b6-00e414127a08"/>
</flow>
	<sub-flow name="setActive" doc:id="15b170af-aac1-4992-9fb1-260b010a9e21" >
		<ee:transform doc:name="Change true/false" doc:id="9ada39b0-fb3d-47b1-a5b1-240b22b110a6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
		active: if (payload) 1 else 0,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<lettuce:hset doc:name="Store active info" doc:id="89d1a851-6861-4286-a986-8a47acacbb8f" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(vars.racerId)"]'>
			<lettuce:fields ><![CDATA[#[output application/java
---
{
	active : payload.active
}]]]></lettuce:fields>
		</lettuce:hset>
	</sub-flow>
	<sub-flow name="getEntry" doc:id="40576fd7-6beb-4b31-b6d0-9a918ad040b8" >
		<lettuce:hgetall doc:name="Get entry info" doc:id="65dd9600-e4e6-4b93-a45b-f3ba22f84583" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(vars.racerId)"]'/>
		<ee:transform doc:name="Transform Message" doc:id="736fc9d0-24e1-49a0-8889-793d7252b1be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import fromRedisDate from dw::app::Transforms
output application/json
---
{
	racer: {
		baseUri: payload.'racer:baseUri',
		name: payload.'racer:name',
		id: payload.'racer:id',
	},
	active:  (payload.active != "0"),
	started:  fromRedisDate(payload.started),
	(updated:  fromRedisDate(payload.updated)) if payload.updated?,
	status: {
		nameCheck: {
			score: payload.'status:nameCheck:score' as Number,
		},
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="incrby1" doc:id="3d0f428c-2982-450c-b6b4-7b9aa417fd27" >
		<set-variable value="#[payload.name]" doc:name="Set Variable" doc:id="123ab7f4-c06e-4945-94f5-8631b1337c33" variableName="nameScore"/>
		<try doc:name="Try" doc:id="5d64dfbd-2da2-466a-b3c9-8083e4504b68" >
			<lettuce:get doc:name="scores:season4" doc:id="901fdd34-a8fc-48dd-9dbf-cbc71c5f09be" config-ref="Lettuce_Redis_Config" key='#["scores:season4:$(vars.racerId)"]' />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5f2d7753-5f3b-456f-8fa9-a94fc4a0aa2e" type="LETTUCE:NIL">
					<set-variable value="#[uuid()]" doc:name="aiagent" doc:id="927d340c-8b11-4c27-a760-5dc05b6bfb08" variableName="aiagent" />
					<ee:transform doc:name="Transform Message" doc:id="d6ef0791-a780-44e8-b5a1-f0836ee78827">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"score:aiagent:$(vars.aiagent)"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<lettuce:set doc:name="SET" doc:id="3fc04d37-b851-4f77-abf8-f62d360e371b" config-ref="Lettuce_Redis_Config" key='#["scores:season4:$(vars.racerId)"]' target="setResult">
				</lettuce:set>
				</on-error-continue>
			</error-handler>
		</try>
		<lettuce:hincrby increment="#[vars.nameScore]" doc:name="Increase name score by 1" doc:id="da4a6f69-4421-499a-af8f-1c17951e4d80" config-ref="Lettuce_Redis_Config" key='#[payload]' field="name" target="setResult"/>
		<lettuce:hincrby increment="#[vars.nameScore]" doc:name="Increase entry-total score by 1" doc:id="5f07d1e3-82db-452c-9643-3eeaf49f92b7" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(vars.racerId)"]' field="score" target="setResult"/>
		<logger level="INFO" doc:name="Logger" doc:id="f69ac95e-84f4-4058-9818-7798e5eba6f2" />
	</flow>
	<flow name="entryFlow" doc:id="2ee6ee94-284b-40c8-970b-05fd4e74836c" >
		<scheduler doc:name="Scheduler" doc:id="aebff285-7ff1-4ebc-b655-406a9700c6a4" >
			<scheduling-strategy >
				<fixed-frequency startDelay="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<lettuce:search-keys doc:name="Search keys" doc:id="ff768136-a831-4e34-aac5-af698800258f" config-ref="Lettuce_Redis_Config" match="challenge:aiagent:*"/>
		<logger level="INFO" doc:name="Logger" doc:id="612b069e-b61a-4c5b-91e8-c2922c0c951f" />
	</flow>
	<sub-flow name="getScore" doc:id="c28d1aa9-bb84-4fcc-b9a7-bda954391198" >
		<lettuce:hget doc:name="HGET" doc:id="5c99e35b-08d2-4f51-8df0-eeea71eb2b2b" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(vars.racerId)"]' field="score"/>
		<ee:transform doc:name="Score" doc:id="22da1aa9-35c5-4cb2-bbe2-09dad05fe0f4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	score: payload as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="92967652-9075-4d46-bf65-48dee0bfcaed" message="Score of racer is #[payload]"/>
	</sub-flow>
</mule>
