src/main/mule/leaderboard.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:lettuce="http://www.mulesoft.org/schema/mule/lettuce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/lettuce http://www.mulesoft.org/schema/mule/lettuce/current/mule-lettuce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<sub-flow name="getRacerResults" doc:id="08f2af47-7a95-406e-a9bb-fbc688ff1234">
		<logger level="INFO" doc:name="Logger" doc:id="26ab4101-012c-4419-97a7-e8f813c81569" />
	</sub-flow>
	<flow name="leaderboardUpdate" doc:id="b59b8647-c3f8-4044-8b1e-096d20430a7a" >
		<lettuce:subscribe-channel-pattern doc:name="season4:score:*" doc:id="e7b9cc42-86a3-40ec-acd5-60707d1c0756" config-ref="Lettuce_Redis_Pubsub" >
			<lettuce:patterns >
				<lettuce:pattern value="season4:score:*" />
			</lettuce:patterns>
		</lettuce:subscribe-channel-pattern>
		<ee:transform doc:name="member and challenge" doc:id="abda870c-bb96-4407-bfc5-159dd7b79f14" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="member" ><![CDATA[%dw 2.0
output application/json

var splitKey = attributes.channel splitBy(":")
---
splitKey[3]
]]></ee:set-variable>
				<ee:set-variable variableName="challenge" ><![CDATA[%dw 2.0
output application/json

var splitKey = attributes.channel splitBy(":")
---
splitKey[2]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="score" doc:id="f1f18bb7-0422-4399-9a37-c683a8a1cd6f" variableName="score" />
		<choice doc:name="Choice" doc:id="da06b8f2-0f54-4a95-a36f-36e195087773" >
			<when expression='#[vars.challenge == "name"]' >
				<logger level="INFO" doc:name="Logger" doc:id="e1d32296-6679-4c1d-999d-6f46a6e5a309" />
			</when>
			<otherwise >
				<set-variable doc:name="leaderBoardKey" doc:id="aa820b80-5b72-4a65-a6d3-5a39147ebff5" variableName="leaderBoardKey" value='#[["leaderboard:$(vars.challenge):daily","leaderboard:$(vars.challenge):weekly","leaderboard:$(vars.challenge):season"]]'/>
				<foreach doc:name="For Each" doc:id="ad273602-f6cb-4699-8341-8235dbe8742a" collection="#[vars.leaderBoardKey]">
					<lettuce:get doc:name="GET the leaderboard timespan string " doc:id="ed98d5c4-04e8-4835-bd5a-3c44e54899ad" config-ref="Lettuce_Redis_Config" key="#[payload]" target="realChallengeKey" />
					<lettuce:zincrby doc:name="increase leaderboard challenge score" doc:id="5d9fc4a1-87fb-490a-ac11-7c459e195415" config-ref="Lettuce_Redis_Config" key="#[vars.realChallengeKey]" increment="#[vars.score]" member="#[vars.member]" />
				</foreach>
			</otherwise>
		</choice>
		<set-variable value='#[["leaderboard:overall:daily","leaderboard:overall:weekly","leaderboard:overall:season"]]' doc:name="Set Variable" doc:id="0756c22b-1d9e-42ff-a2b2-b7d86f043452" variableName="timeSpan"/>
		<foreach doc:name="For Each" doc:id="05d918da-d42e-4d30-a830-fcf7c302e1d4" collection="#[vars.timeSpan]">
			<lettuce:get doc:name="GET" doc:id="7ae05d51-1715-429b-8a48-8474817fc60c" config-ref="Lettuce_Redis_Config" key="#[payload]" target="realChallengeKey" />
			<lettuce:zincrby doc:name="increase overall leaderboard score" doc:id="6fa39b83-5d66-4802-8168-bcf57580c48a" config-ref="Lettuce_Redis_Config" increment="#[vars.score]" member="#[vars.member]" key='#[vars.realChallengeKey]' />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="0601f28e-16ff-47ae-889f-70a3e145e019" message='#["PSubscribe output is $(payload) "]' />
	</flow>
	<sub-flow name="getLeaderboard" doc:id="fdf85935-e726-4410-bf4f-ab7ae571d20b">
		<lettuce:get doc:name="getleaderboard" doc:id="dce00278-461e-4438-aab5-79284739e8fa" config-ref="Lettuce_Redis_Config" key='#["leaderboard:$(vars.leaderboard):$(vars.timespan)"]' />
		<lettuce:search-sorted-set-members doc:name="getleaderboardMembers" doc:id="0c560a4d-71ba-4cdf-b850-e39b3fad3b66" config-ref="Lettuce_Redis_Config" key="#[payload]" />
		<ee:transform doc:name="TRANSFORM SET MEMBERS" doc:id="3f3ebd1f-bf3b-449f-a32a-9571ae08bdb4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
  racerId: keysOf($)[0],
  (vars.leaderboard): $[keysOf($)[0]]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="83420471-62aa-4b28-96b0-beb24c68e74d">
			<set-variable value="#[output application/json --- payload[(vars.leaderboard)]]" doc:name="racerScore" doc:id="55869bd3-f565-425e-bb3a-e928657f9235" variableName="currentScore"/>
			<lettuce:hmget doc:name="getRacerName" doc:id="409abd8f-795e-410f-9ff0-624fe4c0e40b" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(payload.racerId)"]'>
				<lettuce:field-names>
					<lettuce:field-name value="racer:name" />
				</lettuce:field-names>
			</lettuce:hmget>
			<ee:transform doc:name="leaderboardResponse" doc:id="313c3643-bfc2-4238-9917-384ce329db77">
				<ee:message>
					<ee:set-payload><![CDATA[output application/json
---
{
	racer: {
		name: payload[0] default "unknown",
	},
    (vars.leaderboard): vars.currentScore,  
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</parallel-foreach>
		<ee:transform doc:name="leaderBoard" doc:id="f356783a-b5c0-473f-9f66-960a381b9a6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var leaderboard = payload.payload
---

leaderboard
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ca2d99ab-14a9-4048-a18d-0a74d7835ece" />
	</sub-flow>
	<flow name="RotateDailyLeaderboard" doc:id="7ce4dff7-1012-4c54-b5b3-b54bbb8d230d" >
		<scheduler doc:name="Scheduler" doc:id="45a964e6-6a25-4dfc-bc7e-a524d665fdb4" >
			<scheduling-strategy >
				<cron expression='"0 0 0 * * ?"' timeZone="America/Chicago"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="#[['question','bias','overall']]" doc:name="Set challenges array" doc:id="9488bef0-5305-4d99-92ce-e5edb1fe6639" variableName="challenges" />
		<foreach doc:name="For Each" doc:id="b5a21adb-99cc-4bdb-a99b-50c26fea8226" collection="#[vars.challenges]">
			<set-variable doc:name="Set new UUID for challenge" doc:id="ba2604bf-9dc0-43ba-a08f-e123e54c2dae" variableName="newKey" value="#['leaderboard:$(payload):daily:' ++ uuid()]"/>
			<set-variable value="#[payload]" doc:name=" Store the  new challenge UUID for HSET" doc:id="e63db731-fe06-497e-b66f-6d5caa33fade" variableName="newkeys" />
			<lettuce:set doc:name="SET the new daily challenge UUID" doc:id="c8dfc59e-1071-46ac-9c76-ea3472ed3dea" config-ref="Lettuce_Redis_Config" key="#['leaderboard:$(payload):daily']">
				<lettuce:value ><![CDATA[#[vars.newKey]]]></lettuce:value>
			</lettuce:set>
			<lettuce:hset doc:name="HSET for storing daily history" doc:id="9e850d6a-a528-4be5-a90a-db2e96cd5dde" config-ref="Lettuce_Redis_Config" key="#['leaderboard:$(vars.newkeys):daily:history']">
				<lettuce:fields ><![CDATA[#[output application/java
var time = now() as String {format: 'yyyyMMddhhmm'}
---

{
   (time): vars.newKey
}]]]></lettuce:fields>
			</lettuce:hset>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="548deffe-b173-47f2-8c6b-de8d93d8e97d" />
	</flow>
	<flow name="RotateWeeklyLeaderboard" doc:id="d6e7f025-85c1-4544-8c03-fbde31d21089" >
		<scheduler doc:name="Scheduler" doc:id="c7f05aa8-b022-4c55-aa0b-778eff64234f" >
			<scheduling-strategy >
				<cron expression='"0 0 0 ? * MON"' timeZone="America/Chicago"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="#[['question','bias','overall']]" doc:name="Set challenges array" doc:id="595c0346-6798-4577-a44b-af21e0062c0d" variableName="challenges" />
		<foreach doc:name="For Each" doc:id="d00cae8f-a0bc-4eef-b9b7-5a2dbbf1a9ce" collection="#[vars.challenges]" >
			<set-variable value="#['leaderboard:$(payload):weekly:' ++ uuid()]" doc:name="Set new UUID for challenge" doc:id="a11f8885-fb4b-4397-b9d0-06d44e880597" variableName="newKey" />
			<set-variable value="#[payload]" doc:name=" Store the  new challenge UUID for HSET" doc:id="9a0ffb1d-b905-44f7-ae1e-e4bb0e0d82fc" variableName="newkeys" />
			<lettuce:set doc:name="SET the new weekly challenge UUID" doc:id="e6473d83-193a-46ec-bc5e-25ddd86350ee" config-ref="Lettuce_Redis_Config" key="#['leaderboard:$(payload):weekly']" >
				<lettuce:value ><![CDATA[#[vars.newKey]]]></lettuce:value>
			</lettuce:set>
			<lettuce:hset doc:name="HSET for storing weekly history" doc:id="90ee4603-cdd6-4f5f-8827-5ed1554a6d63" config-ref="Lettuce_Redis_Config" key="#['leaderboard:$(vars.newkeys):weekly:history']" >
				<lettuce:fields ><![CDATA[#[output application/java
var time = now() as String {format: 'yyyyMMdd'}
---

{
   (time): vars.newKey
}]]]></lettuce:fields>
			</lettuce:hset>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="7a6eba85-31ed-4bc3-88eb-eee25bc160bb" />
	</flow>
    
</mule>
