src/main/mule/leaderboard.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:lettuce="http://www.mulesoft.org/schema/mule/lettuce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/lettuce http://www.mulesoft.org/schema/mule/lettuce/current/mule-lettuce.xsd">
	<!-- [STUDIO:"getLeaderboard"]<sub-flow name="getLeaderboard" doc:id="be7b2a1e-09fb-4c52-952d-eab86d1de4ed" >
		<set-variable value='#["leaderboard:$(vars.leaderboard):$(vars.timespan)"&#93;' doc:name="leaderboardKey" doc:id="87bb225c-e1e2-4e72-b17f-0269ccf950ce" variableName="leaderboardKey"/>
		<redis:get-range-by-index doc:name="racerIds" doc:id="a12ebe1e-7e7d-45bb-9e3c-6f16dec9e85f" config-ref="redisConfig" key="#[vars.leaderboardKey&#93;" start="0" end="100"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="0948fb41-3b1e-4453-b4ad-9bf9ece70632" >
			<scatter-gather doc:name="Scatter-Gather" doc:id="93ab2fde-8633-4fb2-87a7-730ce7c8ab27" >
				<route >
					<ee:transform doc:name="personal sorted set key" doc:id="ccf9e3da-fb03-4da1-a2b0-2c9237fb1579">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output text/plain
&#45;&#45;-
"personal:$(payload):$(vars.leaderboard):$(vars.timespan)"&#93;&#93;></ee:set-payload>
				</ee:message>
			</ee:transform>
					<logger level="DEBUG" doc:name="DEBUG" doc:id="ab40ff9a-098b-438f-b3ff-ae5a98e4de2e" message='#[output text/plain &#45;&#45;- "retrieving $(payload)"&#93;' category="race-data-sapi.leaderboard"/>
					<redis:get-range-by-index doc:name="top 1 for racer" doc:id="9436f4e5-b456-42e8-bcfb-36ab4d5e9ff3" config-ref="redisConfig" key="#[payload&#93;" start="0" end="0" />
					<redis:get-all-from-hash doc:name="race info" doc:id="c17eac2e-db5e-4c25-8bad-0315a514e622" config-ref="redisConfig" key="#[payload[0&#93;&#93;"/>
				</route>
				<route >
					<ee:transform doc:name="racer key" doc:id="3f69d23a-0caa-4399-b402-387e798f95b7" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
&#45;&#45;-
"racerprofile:$(payload)"&#93;&#93;></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="DEBUG" doc:name="DEBUG" doc:id="ea0891fd-2dcd-4537-9532-ab4b29554097" message='#[output text/plain &#45;&#45;- "retrieving $(payload)"&#93;' category="race-data-sapi.leaderboard" />
					<redis:get-all-from-hash doc:name="racer" doc:id="12ae3126-b60d-4a0b-bf4e-62d1c26fddd1" config-ref="redisConfig" key='#[payload&#93;'/>
				</route>
			</scatter-gather>
		</parallel-foreach>
		<ee:transform doc:name="response" doc:id="061ada4a-0db6-4e3c-8ebf-44abb752d7ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::app::Transforms
output application/json
&#45;&#45;-
payload map (result, index) -> do {
	var race = result.payload."0".payload
	var racer = result.payload."1".payload
	&#45;&#45;-
	{
		raceId: race.raceid,
		racerId: racer.racerId,
		name: racer.name,
		start: fromRedisDate(race.start),
		rank: index + 1,
		time: race.time as Number
	}
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow> [STUDIO] -->
	<sub-flow name="getRacerResults" doc:id="08f2af47-7a95-406e-a9bb-fbc688ff1234">
		<logger level="INFO" doc:name="Logger" doc:id="26ab4101-012c-4419-97a7-e8f813c81569" />
	</sub-flow>
	<flow name="leaderboardUpdate" doc:id="b59b8647-c3f8-4044-8b1e-096d20430a7a" >
		<lettuce:subscribe-channel-pattern doc:name="season4:score:*" doc:id="e7b9cc42-86a3-40ec-acd5-60707d1c0756" config-ref="Lettuce_Redis_Pubsub" >
			<lettuce:patterns >
				<lettuce:pattern value="season4:score:*" />
			</lettuce:patterns>
		</lettuce:subscribe-channel-pattern>
		<ee:transform doc:name="member and challenge" doc:id="abda870c-bb96-4407-bfc5-159dd7b79f14" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="member" ><![CDATA[%dw 2.0
output application/json

var splitKey = attributes.channel splitBy(":")
---
splitKey[3]
]]></ee:set-variable>
				<ee:set-variable variableName="challenge" ><![CDATA[%dw 2.0
output application/json

var splitKey = attributes.channel splitBy(":")
---
splitKey[2]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="score" doc:id="f1f18bb7-0422-4399-9a37-c683a8a1cd6f" variableName="score" />
		<choice doc:name="Choice" doc:id="da06b8f2-0f54-4a95-a36f-36e195087773" >
			<when expression='#[vars.challenge == "name"]' >
				<logger level="INFO" doc:name="Logger" doc:id="e1d32296-6679-4c1d-999d-6f46a6e5a309" />
			</when>
			<otherwise >
				<set-variable value='#["leaderboard:$(vars.challenge):cf613770-c413-401c-be28-b2db767a292c"]' doc:name="leaderBoardKey" doc:id="aa820b80-5b72-4a65-a6d3-5a39147ebff5" variableName="leaderBoardKey" />
				<lettuce:zincrby doc:name="increase leaderboard challenge score" doc:id="5d9fc4a1-87fb-490a-ac11-7c459e195415" config-ref="Lettuce_Redis_Config" key="#[vars.leaderBoardKey]" increment="#[vars.score]" member="#[vars.member]" />
			</otherwise>
		</choice>
		<lettuce:zincrby doc:name="increase overall leaderboard score" doc:id="6fa39b83-5d66-4802-8168-bcf57580c48a" config-ref="Lettuce_Redis_Config" key="leaderboard:overall:daily:e6d2cc8f-2dc7-4c2e-8b67-81f555ea2088" increment="#[vars.score]" member="#[vars.member]" />
		<logger level="INFO" doc:name="Logger" doc:id="0601f28e-16ff-47ae-889f-70a3e145e019" message='#["PSubscribe output is $(payload) "]' />
	</flow>
	<sub-flow name="AILeaderBoard" doc:id="fdf85935-e726-4410-bf4f-ab7ae571d20b">
		<set-variable value='#["leaderboard:$(vars.leaderboard):$(vars.timespan)"]' doc:name="leaderboardKey" doc:id="59a4907d-104e-452f-aafc-4d53f44d36f9" variableName="leaderboardKey" />
		<lettuce:get doc:name="GET" doc:id="dce00278-461e-4438-aab5-79284739e8fa" config-ref="Lettuce_Redis_Config" key="#[vars.leaderboardKey]" />
		<lettuce:search-sorted-set-members doc:name="Search sorted set members" doc:id="0c560a4d-71ba-4cdf-b850-e39b3fad3b66" config-ref="Lettuce_Redis_Config" key="#[payload]" />
		<ee:transform doc:name="TRANSFORM SET MEMBERS" doc:id="3f3ebd1f-bf3b-449f-a32a-9571ae08bdb4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
  racerId: keysOf($)[0],
  (vars.leaderboard): $[keysOf($)[0]]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="d69f2f65-5b42-46b2-934e-35a7eaf820ea" variableName="racers"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="83420471-62aa-4b28-96b0-beb24c68e74d">
			<set-variable value="#[payload.racerId]" doc:name="Set Variable" doc:id="483fd629-1b9b-4c0a-bb5c-b680c578e67c" variableName="currentRacerId"/>
			<set-variable value="#[output application/json --- payload[(vars.leaderboard)]]" doc:name="Set Variable" doc:id="55869bd3-f565-425e-bb3a-e928657f9235" variableName="currentScore"/>
			<lettuce:hmget doc:name="HMGET" doc:id="409abd8f-795e-410f-9ff0-624fe4c0e40b" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(payload.racerId)"]'>
				<lettuce:field-names>
					<lettuce:field-name value="racer:name" />
				</lettuce:field-names>
			</lettuce:hmget>
			<ee:transform doc:name="Transform Message" doc:id="313c3643-bfc2-4238-9917-384ce329db77">
				<ee:message>
					<ee:set-payload><![CDATA[output application/json
---
{
    racerId: vars.currentRacerId,
    (vars.leaderboard): vars.currentScore,
    racerName: payload[0] default "unknown"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</parallel-foreach>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="02d579c9-a8a4-4930-a41e-190fe8e5d88a" variableName="racerDetails" />
		<logger level="INFO" doc:name="Logger" doc:id="ca2d99ab-14a9-4048-a18d-0a74d7835ece" />
	</sub-flow>
</mule>
