src/main/mule/leaderboard.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:lettuce="http://www.mulesoft.org/schema/mule/lettuce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/lettuce http://www.mulesoft.org/schema/mule/lettuce/current/mule-lettuce.xsd">
	<sub-flow name="getRacerResults" doc:id="08f2af47-7a95-406e-a9bb-fbc688ff1234">
		<logger level="INFO" doc:name="Logger" doc:id="26ab4101-012c-4419-97a7-e8f813c81569" />
	</sub-flow>
	<flow name="leaderboardUpdate" doc:id="b59b8647-c3f8-4044-8b1e-096d20430a7a" >
		<lettuce:subscribe-channel-pattern doc:name="season4:score:*" doc:id="e7b9cc42-86a3-40ec-acd5-60707d1c0756" config-ref="Lettuce_Redis_Pubsub" >
			<lettuce:patterns >
				<lettuce:pattern value="season4:score:*" />
			</lettuce:patterns>
		</lettuce:subscribe-channel-pattern>
		<ee:transform doc:name="member and challenge" doc:id="abda870c-bb96-4407-bfc5-159dd7b79f14" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="member" ><![CDATA[%dw 2.0
output application/json

var splitKey = attributes.channel splitBy(":")
---
splitKey[3]
]]></ee:set-variable>
				<ee:set-variable variableName="challenge" ><![CDATA[%dw 2.0
output application/json

var splitKey = attributes.channel splitBy(":")
---
splitKey[2]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="score" doc:id="f1f18bb7-0422-4399-9a37-c683a8a1cd6f" variableName="score" />
		<choice doc:name="Choice" doc:id="da06b8f2-0f54-4a95-a36f-36e195087773" >
			<when expression='#[vars.challenge == "name"]' >
				<logger level="INFO" doc:name="Logger" doc:id="e1d32296-6679-4c1d-999d-6f46a6e5a309" />
			</when>
			<otherwise >
				<set-variable value='#["leaderboard:$(vars.challenge):cf613770-c413-401c-be28-b2db767a292c"]' doc:name="leaderBoardKey" doc:id="aa820b80-5b72-4a65-a6d3-5a39147ebff5" variableName="leaderBoardKey" />
				<lettuce:zincrby doc:name="increase leaderboard challenge score" doc:id="5d9fc4a1-87fb-490a-ac11-7c459e195415" config-ref="Lettuce_Redis_Config" key="#[vars.leaderBoardKey]" increment="#[vars.score]" member="#[vars.member]" />
			</otherwise>
		</choice>
		<lettuce:zincrby doc:name="increase overall leaderboard score" doc:id="6fa39b83-5d66-4802-8168-bcf57580c48a" config-ref="Lettuce_Redis_Config" key="leaderboard:overall:daily:e6d2cc8f-2dc7-4c2e-8b67-81f555ea2088" increment="#[vars.score]" member="#[vars.member]" />
		<logger level="INFO" doc:name="Logger" doc:id="0601f28e-16ff-47ae-889f-70a3e145e019" message='#["PSubscribe output is $(payload) "]' />
	</flow>
	<sub-flow name="getLeaderboard" doc:id="fdf85935-e726-4410-bf4f-ab7ae571d20b">
		<lettuce:get doc:name="getleaderboard" doc:id="dce00278-461e-4438-aab5-79284739e8fa" config-ref="Lettuce_Redis_Config" key='#["leaderboard:$(vars.leaderboard):$(vars.timespan)"]' />
		<lettuce:search-sorted-set-members doc:name="getleaderboardMembers" doc:id="0c560a4d-71ba-4cdf-b850-e39b3fad3b66" config-ref="Lettuce_Redis_Config" key="#[payload]" />
		<ee:transform doc:name="TRANSFORM SET MEMBERS" doc:id="3f3ebd1f-bf3b-449f-a32a-9571ae08bdb4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
  racerId: keysOf($)[0],
  (vars.leaderboard): $[keysOf($)[0]]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="83420471-62aa-4b28-96b0-beb24c68e74d">
			<set-variable value="#[output application/json --- payload[(vars.leaderboard)]]" doc:name="racerScore" doc:id="55869bd3-f565-425e-bb3a-e928657f9235" variableName="currentScore"/>
			<lettuce:hmget doc:name="getRacerName" doc:id="409abd8f-795e-410f-9ff0-624fe4c0e40b" config-ref="Lettuce_Redis_Config" key='#["challenge:aiagent:$(payload.racerId)"]'>
				<lettuce:field-names>
					<lettuce:field-name value="racer:name" />
				</lettuce:field-names>
			</lettuce:hmget>
			<ee:transform doc:name="leaderboardResponse" doc:id="313c3643-bfc2-4238-9917-384ce329db77">
				<ee:message>
					<ee:set-payload><![CDATA[output application/json
---
{
	racer: {
		name: payload[0] default "unknown",
	},
    (vars.leaderboard): vars.currentScore,  
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</parallel-foreach>
		<ee:transform doc:name="leaderBoard" doc:id="f356783a-b5c0-473f-9f66-960a381b9a6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var leaderboard = payload.payload
---

leaderboard
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ca2d99ab-14a9-4048-a18d-0a74d7835ece" />
	</sub-flow>
</mule>
